<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Likes | How to</title>
    <link rel="icon" href="assets/images/icon.png" type="image/png">

    <link rel="stylesheet" href="assets/css/howto.css" type="text/css">
</head>
<body>
    <h1 style="margin-top: 25px;">How to get your X-Auth-Token:</h1>
    <h4>The X-Auth-Token does not provide access to your account and we cannot read messages, swipe, change settings or unmatch for you. We only use the token to access your available previews</h4>
    <div id="steps">
        <div>
            <h3>1. Go on Tinder and log-in to your account</h3>
        </div>
        <div>
            <h3>2. Press Ctrl + Shift + I to open the DevTools</h3>
        </div>
        <div>
            <h3>3. Press Ctrl + Shift + P and enter "Network" then press Enter</h3>
        </div>
        <div>
            <h3>4. Once on the "Network" tab, press Ctrl + R to refresh the page</h3>
        </div>
        <div>
            <h3>5. After the page is done reloading, locate the "filter" field (usually at the top-left corner of the DevTools screen) and type "profile?"</h3>
        </div>
        <div>
            <h3>6. Select any of the fields under the "Name" section to focus the request</h3>
        </div>
        <div>
            <h3>7. In the section on the right, find and click on the "Headers" tab</h3>
        </div>
        <div>
            <h3>8. Once in the headers, scroll all the way down and to see "x-auth-token". Copy the value next to it and paste it back here</h3>
        </div>
        <div style="margin-top: 25px;">
            <h2>Done!</h2>
        </div>
        <div style="margin-top: 10px;">
            <h4 style="width: 500px;">Your X-Auth-Token may expire after a day or two. It is a session token meant to keep track of users on Tinder's servers</h4>
        </div>
    </div>
</body>
</html>