<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder Likes | Results</title>
    <link rel="icon" href="assets/images/icon.png" type="image/png">

    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <script src="assets/js/index.js" defer></script>
</head>
<body onload="onLoad();">
    <div id="resultsWrapper">
        <h1>Your available previews:</h1>
        <div id="results">
            <div id="cards"></div>
        </div>
    </div>
</body>
<script>
    function onLoad() {
        appendRule = (sheet) => {
            var len = sheet.cssRules.length;
            sheet.insertRule("body{}", len);
            return sheet.cssRules[len];
        }

        ruleForScroll = appendRule(Array.from(document.styleSheets).slice(-1)[0]);

        document.body.addEventListener("scroll", showScrollbar);
        document.body.addEventListener("mousemove", showScrollbar);

        getLikes();
    }
</script>
</html>